#m h dom mon dow
00 * * * *  rsnapshot -c /srv/rsnapshots/{{ item.name }}/rsnapshot.conf sync && rsnapshot -c /srv/rsnapshots/{{item.name}}/rsnapshot.conf hourly
00 04 * * * rsnapshot -c /srv/rsnapshots/{{ item.name }}/rsnapshot.conf daily
00 02 * * 0 rsnapshot -c /srv/rsnapshots/{{ item.name }}/rsnapshot.conf weekly
00 00 1 * * rsnapshot -c /srv/rsnapshots/{{ item.name }}/rsnapshot.conf monthly
