[Unit]
Description=Run %i Daily rsnapshot

[Service]
WorkingDirectory={{backup_server_directory}}
Type=oneshot
ExecStart=rsnapshot -c {{backup_server_directory}}/%i/rsnapshot.conf daily

[Install]
WantedBy=multi-user.target
