[Unit]
Description=Rsnapshot hourly timer: {{ item.name }}

[Timer]
OnCalendar={{ item.time.hourly | default(backup_server_hourly_time) }}
RandomizedDelaySec=90


[Install]
WantedBy=multi-user.target
