[Unit]
Description=Rsnapshot monthly timer: {{ item.name }}

[Timer]
OnCalendar={{ item.time.monthly | default(backup_server_monthly_time) }}
RandomizedDelaySec=90

[Install]
WantedBy=multi-user.target
