# The default roles file is empty as the preferred method of defining roles is
# through the API/UI. File based roles are useful in error scenarios when the
# API based roles may not be available.

{% for config in elasticsearch_roles %}
{{ config.role}}:
    cluster: {{ config.cluster}}
    indices:
{% for indice in config.indices %}
      - names: {{ indice.names}}
        privileges: {{ indice.privileges }}
{% endfor %}
{% endfor %}
